//Colors
$black: rgb(41, 41, 41);
$lightblack: rgb(150, 150, 150);
;
//Transitions
$e: all 0.2s ease;
$ei: all 0.2s ease-in;
$eio: all 0.2s ease-in-out;
//Fonts
$ari: Arial,
Helvetica,
sans-serif;
$ral: 'Raleway',
sans-serif;